p {
  opacity: 0.95;
}

a {
	color: #4a4a4a;
}

a:hover {
  color: hsl(204, 86%, 53%);
}

ul#horizontal li {
  display:inline;
  margin-right: 10px;
}

.project-tags {
	font-size: 70%;
}

.article-item {
	margin-top: 26px;
	margin-bottom: 10px;
}

.underlined {
	text-decoration: underline;
}

.hero {
	padding-top: 60px;
	padding-bottom: 60px;
}

.hero-body {
  max-width: 1400px;
  margin: 0 auto;
}

.download {
  margin-top: 20px;
}

.video-thumbnail {
  margin-top: 20px;
  border-radius: 10px;
}

.highlight-color {
  color: rgb(49,168,246) !important;
}

.card {
  border-radius: 5px;
}

.card-inset {
  background: rgba(242, 242, 247, 0.16);
}

.tag-premium {
  font-size: 0.5em !important;
  font-weight: bold !important;
  margin-left: 1.2em !important;
  padding-left: 1em !important;;
  padding-right: 1em !important;;
}

.carousel-image {
  width: 100%;
  height: auto;
  transition: opacity 0.1s ease-in-out;
}
.carousel-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.carousel-arrow {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin: 0 5px;
}
.carousel-index {
  margin: 0 10px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
