.content {
  font-family: 'Merriweather', serif;
  letter-spacing: 0.01rem;
  line-height: 1.75em;
}

.content >* h2, h3 {
  padding-top: 30px;
  line-height: 1.5;
}

.content >* h3 {
  font-size: 1.5rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.post-title {
  font-size: 1.6rem;
  font-weight: 300;
  text-decoration: none;
  color: #212529;
}

.post-img {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
}