main {
  font-family: 'Merriweather', serif;
  letter-spacing: 0.01rem;
  line-height: 1.75em;
  color: #3A4145;
}

main >* h2, h3 {
  line-height: 2.4;
}

main >* h3 {
  font-size: 1.5rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.post-title {
  font-size: 1.6rem;
  font-weight: 300;
  text-decoration: none;
  color: #212529;
}

.post-img {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
}