#social-links {
  margin-top: 34px;
}

#social-links a.social {
  border: 0;
  display: inline-block;
  margin: 0 16px 32px;
  opacity: 0.5;
  text-indent: -9999px;
  max-width: 200px;
  vertical-align: middle;
}

#social-links a.social.linkedin {
  background: url(../images/social/linkedin.png) no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  width: 32px;
  height: 32px;
}

#social-links a.social.instagram {
  background: url(../images/social/instagram.png) no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  width: 32px;
  height: 32px;
}

#social-links a.social.github {
  background: url(../images/social/github.png) no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  width: 32px;
  height: 32px;
}

#social-links a.social.stack-overflow {
  background: url(../images/social/stack-overflow.png) no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  width: 32px;
  height: 32px;
}
